bcrypt==4.2.0
Deprecated==1.2.14
python-dotenv==1.0.1
fastapi==0.115.3
google-auth==2.36.0
google-auth-oauthlib==1.2.1
grpcio==1.67.1
grpcio-tools==1.67.1
pyjwt==2.9.0
protobuf==5.28.3
pydantic==2.9.2
uvicorn==0.32.0


